/**
 * @file
 * The CSS for Mobile Gallery
 */

/* Thumbnails */
.mobilegallery-asi.thumbnails {
  display: block;
  float: left;
  margin: 2px 2px;
  line-height: 0em;
}

.mobilegallery-asi.thumbnails {
  /* this image was generaged at http://ajaxload.info/ */
  background-image: url(images/loading-thumbnails.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Show More link */
.mobilegallery-showmore-wrapper {
  clear: both;
  text-align: center;
  height: 40px;
  margin-top: 20px;
}

.mobilegallery-loading .mobilegallery-showmore-wrapper {
  /* this image was generaged at http://ajaxload.info/ */
  background-image: url(images/loading.gif);
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: 50% 0%;
}

/* Navigation Elements */
.mobilegallery-nav  {
  height:38px;
  position:relative;
  width:100%;
  top: -50px
}

a.mobilegallery-controls {
  height: 30px;
  margin: 10px;
  width: 40px;
  background-repeat: no-repeat;
  background-image: url(images/icons.png);
}

.mobilegallery-close {
  background-position:0 -60px;
  float: left;
  position:absolute;
  top: 0px;
  display: none;
}

.mobilegallery-prev-link {
  background-position:0 -30px;
  float: left;
}

.mobilegallery-next-link {
  float: right;
}

/* Caption */
.mobilegallery-caption {
  background-image: url(images/caption_bg.png);
  position:relative;
  top:-38px;
  padding: 10px;
  color: #000;
}

/* Black it out when in single-image mode */
body.mobilegallery-single-image.mobilegallery-parent,
body.mobilegallery-single-image .mobilegallery-parent {
  background: #000;
  background-image: none;
  border: none;
  width: 100%;
  margin:  0 0 0 0;
  padding: 0 0 0 0;
}

/* Center the image and the caption */
.mobilegallery-rows {
  text-align: center;
}

/* Only show this div when JS is active */
body.mobilegallery .mobilegallery-showmore-wrapper,
/* only show controls when in single mode */
body.mobilegallery-single-image .mobilegallery-close-wrapper,
body.mobilegallery-single-image .mobilegallery-close,
body.mobilegallery-single-image .mobilegallery-nav,
/* Show the active row and all it's contents and parents when in single mode */
body.mobilegallery-single-image .mobilegallery-parent,
body.mobilegallery-single-image div.mobilegallery-parent,
body.mobilegallery-single-image.mobilegallery .mobilegallery-rows.mobilegallery-active-image,
body.mobilegallery-single-image div.mobilegallery-parent .mobilegallery-rows.mobilegallery-active-image div  {
  display: block;
}

/* Most of these switch between display none and display block
   depending on if we're in single-image mode */
.mobilegallery-showmore-wrapper,
.mobilegallery-parent .pager,
.mobilegallery-close-wrapper,
body.mobilegallery .mobilegallery-rows,
body.mobilegallery-single-image .thumbnails,
body.mobilegallery-single-image .mobilegallery-showmore-wrapper,
body.mobilegallery-single-image div,
body.mobilegallery-single-image h1,
.mobilegallery-nav,
/* Don't show these controls if there isn't a
   previous or next image to show */
.mobilegallery-rows.first .mobilegallery-prev-link,
.mobilegallery-rows.last .mobilegallery-next-link,
/* Don't show this text with the navigation links */
a.mobilegallery-controls span {
  display: none;
}

/* Set width to 100% when viewing on a portrait orientation device */
@media screen and (orientation:portrait) {
  .mobilegallery-rows img {
    width: 100%;
    height:auto;
  }
}

/* Set height to 100% when viewing on a landscape orientation device */
@media screen and (orientation:landscape) {
  .mobilegallery-rows img {
    height: 100%;
    width:auto;
  }
}

/** This is trying target the iPhone  and iPad which seems to
 *  interpret height different from android browsers.
 *  Safari on the iPhone seems to interpret height percentages
 *  relative to the height of the image file rather than the
 *  available height of the screen/browser window.
 *
 *  This more specific declaration should keep the image within the window.
 */
@media screen and (min-width: 480px) and (max-width: 480px) and (orientation:landscape)  {
  .mobilegallery-rows img  {
    height: 320px;
    width:auto;
  }
}

/** The proportions on the iPad are slightly different
 *  than the iPhone, 3:4 vs 2:3
 *
 *  This difference is causing some landscape images to still
 *  spill over the right side of the iPad screen with the
 *  below CSS.
 */
@media screen and (min-width: 1024px) and (max-width: 1024px) and (orientation:landscape)  {
  .mobilegallery-rows img  {
    height: 768px;
    width:auto;
    border: #F00 solid 1px;
  }
}
